@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  color: var(--font-dark);
  /* Branding colors
     Primary */
  --light-gray: #eeeeee;
  --dark-gray: #686868;
  --font-light: white;
  --font-dark: black;
}
